@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Noto+Serif+TC&display=swap');
body{
    font-family: Arial, 'Noto Sans TC', sans-serif; 
    line-height: 1.6;
}

h1{
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

.product_wrapper{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
}

/* 左側選單 */
.product_category_wrapper{
    /* width: 150px; */
    display: flex;
    flex-direction: column;
    text-align:start;
}

.product_category_wrapper p{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.filter_title{
    margin: 10px 0;
}

.filter_title span{
    font-size: 16px;
    font-weight: bold;
}

.filter_wrapper form label span{
    font-size: 16px;
}

/* 右側商品 */
.product_content_wrapper{
    max-width: 1200px;
}
.product_content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    font-weight: bold;
}

.product_content a{
    display: block;
    text-decoration: none;
    width: 300px;
    margin: 20px;
}

.product_content a img{
    width: 300px;
    height: 300px;
    vertical-align: top;
}

.product_content a h2{
    color: black;
    font-size: 16px;
    line-height: 1.2;
    padding: 10px 0;
    height: 50px;
}

.product_content a h3{
    color: red;
    font-size: 16px;
    line-height: 1.2;
    padding: 10px 0;
}

ul.page{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

ul.page li{
    display: inline;
}

ul.page li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 10px;
}

ul.page li a.active {
    background-color: #F46424;
    color: black;
}

ul.page li:hover:not(.active){
    background-color: #ccc;
    border-radius: 10px;
}

/*-------------------- 414 ---------------------*/
@media screen and (max-width: 415px){
    h1{
        font-size: 25px;
        color: black;
        font-weight: bold;
        text-align: center;
        padding: 20px 0;
    }
    main{
        max-width: 414px;
        width: 90%;
    }
    .product_wrapper{
        max-width: 414px;
        width: 100%;
        margin: 0 auto 30px;
        justify-content: center;
    }
    
    /* 左側選單 */
    .product_category_wrapper{
        /* width: 150px; */
        display: none;
        flex-direction: column;
        text-align:start;
    }
    
    .product_category_wrapper p{
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
    }
    
    .filter_title{
        margin: 10px 0;
    }
    
    .filter_title span{
        font-size: 16px;
        font-weight: bold;
    }
    
    .filter_wrapper form label span{
        font-size: 16px;
    }
    
    /* 右側商品 */
    .product_content_wrapper{
        max-width: 414px;
    }
    .product_content{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0 auto;
        font-weight: bold;
    }
    
    .product_content a{
        display: block;
        text-decoration: none;
        width: 300px;
        margin: 20px;
    }
    
    .product_content a img{
        width: 300px;
        height: 300px;
        vertical-align: top;
    }
    
    .product_content a h2{
        color: black;
        font-size: 16px;
        line-height: 1.2;
        padding: 10px 0;
        height: 20px;
    }
    
    .product_content a h3{
        color: red;
        font-size: 16px;
        line-height: 1.2;
        padding: 10px 0;
    }
    
    ul.page{
        max-width: 414px;
        width: 400px;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    
    ul.page li{
        display: inline;
    }
    
    ul.page li a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 10px;
    }
    
    ul.page li a.active {
        background-color: #F46424;
        color: black;
    }
    
    ul.page li:hover:not(.active){
        background-color: #ccc;
        border-radius: 10px;
    }
}