@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Noto+Serif+TC&display=swap');
body{
    font-family: Arial, 'Noto Sans TC', sans-serif; 
    line-height: 1.6;
}

.bread{
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px #d9d9d9;
    padding: 10px 0;
}
.bread p{
    font-size: 16px;
    color: black;
    padding-left: 140px;
}

h1{
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

.product_wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 30px;
    display: flex;
}

/* 左側選單 */
.product_category_wrapper{
    width: 150px;
    display: flex;
    flex-direction: column;
    padding-left: 110px;
    text-align:start;
}

.product_category_wrapper p{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.filter_title{
    margin: 10px 0;
}

.filter_title span{
    font-size: 16px;
    font-weight: bold;
}

.filter_wrapper form label span{
    font-size: 16px;
}

/* 右側商品 */
.product_content_wrapper{
    max-width: 800px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    font-weight: bold;
}

.product_content_wrapper a{
    display: block;
    text-decoration: none;
    width: 200px;
    margin: 20px;
}

.product_content_wrapper a img{
    width: 200px;
    height: 200px;
    vertical-align: top;
}

.product_content_wrapper a h2{
    color: black;
    font-size: 16px;
    line-height: 1.2;
    padding: 10px 0;
}

.product_content_wrapper a h3{
    color: red;
    font-size: 16px;
    line-height: 1.2;
    padding: 10px 0;
}
