@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Noto+Serif+TC&display=swap');
body{
    font-family: Arial, 'Noto Sans TC', sans-serif; 
    line-height: 1.6;
}

h1{
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

.the_form{
    width: 600px;
    margin: 0 auto;
    background-color: #d9d9d9;
    padding: 50px;
    margin-bottom: 50px;
}

.contact_all label{
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.infos{
    width: 600px;
    height: 30px;
    font-size:16px;
}

.notes{
    width: 600px;
    height: 300px;
    font-size:16px;
}

.item_block{
    margin-bottom: 30px;
}
.send{
    width: 100px;
	height: 50px;
	font-size: 14px;
    font-weight: bold;
	background-color: #F46424;
	color: white;
	border: 0;
    border-radius: 10px;
	display: block;
	margin: 0 auto;
}    

/*-------------------- 414 ---------------------*/
@media screen and (max-width: 415px) {
    h1{
        font-size: 24px;
        color: black;
        font-weight: bold;
        text-align: center;
        padding: 20px 0;
    }
    
    .the_form{
        max-width: 414px;
        width: 380px;
        margin: 0 auto;
        background-color: #d9d9d9;
        padding: 0px;
        margin-bottom: 0px;
        text-align: center;
    }
    
    .contact_all label{
        display: block;
        font-size: 20px;
        font-weight: bold;
    }
    
    .infos{
        width: 80%;
        height: 30px;
        font-size:16px;
    }
    
    .notes{
        width: 80%;
        height: 200px;
        font-size:16px;
    }
    
    .item_block{
        padding-top: 20px;
        margin-bottom: 30px;
    }
    .send{
        width: 100px;
        line-height: 1.6;
        font-size: 14px;
        font-weight: bold;
        background-color: #F46424;
        color: white;
        border: 0;
        border-radius: 10px;
        display: block;
        margin: 0 auto ;
    } 
    .submit{
        padding-bottom: 20px
    } 
    .item_block:nth-child(4){
        margin-bottom: 10px;
    }
}