@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Noto+Serif+TC&display=swap');
body{
    font-family: Arial, 'Noto Sans TC', sans-serif; 
    line-height: 1.6;
}

.bread{
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px #d9d9d9;
    padding: 10px 0;
}
.bread p{
    font-size: 16px;
    color: black;
    padding-left: 140px;
}

h1{
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

.the_form{
    width: 600px;
    margin: 0 auto;
    background-color: #d9d9d9;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.contact_all label{
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.infos{
    width: 600px;
    height: 30px;
    font-size:16px;
}

.notes{
    width: 600px;
    height: 300px;
    font-size:16px;
}

.item_block{
    margin-bottom: 30px;
}
.send{
    width: 100px;
	height: 50px;
	font-size: 14px;
    font-weight: bold;
	background-color: #F46424;
	color: white;
	border: 0;
    border-radius: 10px;
	display: block;
	margin: 0 auto;
}    