@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Noto+Serif+TC&display=swap');
body{
    font-family: Arial, 'Noto Sans TC', sans-serif; 
    line-height: 1.6;
}

h1{
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

.container{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.container img{
    width: 800px;
    margin-bottom: 20px;
    border-radius: 20px;
}

/*-------------------- 414 ---------------------*/
@media screen and (max-width: 415px) {
    
    h1{
        font-size: 24px;
        color: black;
        font-weight: bold;
        text-align: center;
        padding: 20px 0;
    }

    .container{
        max-width: 414px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .container img{
        max-width: 414px;
        width: 100%;
        display: block;
        margin-bottom: 0px;
        border-radius: 0px;
    }

}