/* 頁首 */
.header{
    background-color: black;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav{
    max-width: 1440px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo-section img{
    height: 80px;
    display: block;
    padding-top: 10px;
}

.menu{
    max-width: 1200px;
    line-height: 60px;
    padding: 40px 30px 0 30px;
    font-size: 20px;
    box-sizing: border-box;
    color: white;
    display: flex;
} 

.menu li{
    margin: 0 30px;
    text-align: center;
}

.menu li a{
    display: block;
    text-decoration: none;
	color: white;
	font-weight: bold;
   
}

.menu li a:hover{
    background-color: white;
    color: black;
    text-shadow: 3px 3px 3px #F46424 ;
    font-weight: bold;
}

.product{
    position: relative;
}

.iconlist{
    display: flex;
    padding-top: 40px;
    padding-right: 50px;
    line-height: 60px;
}

.iconlist li a{
    margin-right: 15px;
    color: white;
    font-size: 20px;
}

.iconlist li a:hover{
    color: #F46424;
}
.iconlist li input{
    width: 120px;
    height: 20px;
    border: none;
	outline: none;
    border-radius: 10px;
}
/* 導覽次選單 */
.menu .product:hover .submenu {
    /* 滑鼠滑入展開次選單*/
    display: flex;
}

.submenu{
    display: none;
    box-shadow: 1px 1px 1px 1px #c5c2c2;
    background-color: white;
    width: 900px;
    position: absolute;   
    left: -250px;
    padding: 20px;
    line-height: 2;
    justify-content: space-between;
}

.submenu ul .title a{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #F46424;
    margin-bottom: 10px;
}

.submenu .title a:hover{
    text-shadow: none ;
    border-bottom: 2px solid #F46424;
}

.submenu li a{
    font-size: 16px;
	color: black;
}

.submenu .sub-li a:hover{
    color: black;
    text-shadow: none ;
    border-bottom: 2px solid #F46424;
}

.nav-header-bars a{
    display: none;
}

/* 目錄麵包屑 */
.breadcrumblist{
    width: 100%;
    margin: 0 auto;
    height: auto;
    border-bottom: 1px solid #ccc;
}
.breadcrumb{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display:flex;
    padding: 10px 0;
}
.breadcrumb li{
    padding: 0 20px;
}
.breadcrumb a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: .5s;
}
.breadcrumb li + li{
    padding-left: 0;
}
.breadcrumb li + li:before{
    content: '>';
    color: black;
    margin-right: 20px;
}
.breadcrumb li:last-child a,
.breadcrumb a:hover{
    color: black;
    border-radius: 10px;
    background-color:#F46424;
    padding: 5px 10px;
}

/* 頁尾 */
.footer{
    background-color: black;
    width: 100%;
    color: white;
}

.footer-container{
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
}

.footer-item  a{
    display: block;
    text-decoration: none;
    color: white;
}

.footer-item h3{
    font-size: 16px;
    padding-bottom: 10px;
}
.footer-item li a{
    font-size: 14px;
    padding-bottom: 5px;
}

.footer-logo img{
    width: 80px;
}

.footer-logo{
     
    margin-left: 200px;
}

.footer-other p{
    font-size: 14px;
    padding-bottom: 10px;
}

.footer-other a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 10px;  
}

.footer-item{
    padding-right: 120px;
}

.footer-copyright{
    font-size: 12px;
    text-align: center;
    border-top: 1px solid white;
    padding-top: 10px;
}

/*-------------------- 414 ---------------------*/
@media screen and (max-width: 415px){
    /* 目錄麵包屑 */
.breadcrumblist{
    max-width: 414px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    border-bottom: 1px solid #ccc;
}
.breadcrumb{
    max-width: 414px;
    width: 100%;
    margin: 0 auto;
    display:flex;
    padding: 10px 0;
}
.breadcrumb li{
    padding: 0 20px;
}
.breadcrumb a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: .5s;
}
.breadcrumb li + li{
    padding-left: 0;
}
.breadcrumb li + li:before{
    content: '>';
    color: black;
    margin-right: 20px;
}
.breadcrumb li:last-child a,
.breadcrumb a:hover{
    color: black;
    border-radius: 10px;
    background-color:#F46424;
    padding: 5px 10px;
}

/* 頁首 */
.header{
    display: block;
    background-color: black;
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
    position: relative;
}

.nav{
    max-width: 414px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo-section img{
    height: 40px;
    display: block;
    padding-top: 10px;
    padding-left: 20px;
}

.menu{

    background-color: black;
    opacity: 0.7;
    max-width: 414px;
    width: 414px;
    line-height: 60px;
    padding: 0px 0px 0 0px;
    font-size: 20px;
    box-sizing: border-box;
    color: white;
    display: none;
    position: absolute;
    top: 100%;
    
} 
.nav-header-bars{
    max-width: 30px;
    align-items: center;
    padding-right:20px;
    padding-top: 20px;
    
}

.nav-header-bars a{
    color: white;
    display: block;
}


.menu li{
    margin: 0 0px;
    text-align: center;
}

.menu li a{
    display: block;
    text-decoration: none;
	color: white;
	font-weight: bold;
   
}

.menu li a:hover{
    background-color: white;
    color: black;
    text-shadow: 3px 3px 3px #F46424 ;
    font-weight: bold;
}

.product{
    position: relative;
}
.list{
    margin-left: 0px;
}

.iconlist{
    display: flex;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    line-height: 60px;
    

}
.list .iconlist li:nth-child(4){
    display: none;
}


.iconlist li a{
    margin-right: 15px;
    color: white;
    font-size: 20px;
}

.iconlist li a:hover{
    color: #F46424;
}
.iconlist li input{
    width: 120px;
    height: 20px;
    border: none;
	outline: none;
    border-radius: 10px;
}
/* 導覽次選單 */
.menu .product .submenu {
    /* 滑鼠滑入展開次選單*/
    display: none;
}

.submenu{
    display: none;
    box-shadow: 1px 1px 1px 1px #c5c2c2;
    background-color: white;
    width: 414px;
    position: absolute;   
    left: 0px;
    padding: 0px;
    line-height: 2;
    justify-content: space-between;
}

.submenu ul .title a{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #F46424;
    margin-bottom: 10px;
}

.submenu .title a:hover{
    text-shadow: none ;
    border-bottom: 2px solid #F46424;
}

.submenu li a{
    font-size: 16px;
	color: black;
}

.submenu .sub-li a:hover{
    color: black;
    text-shadow: none ;
    border-bottom: 2px solid #F46424;
}



/* 頁尾 */
.footer{
    background-color: black;
    width: 100%;
    color: white;
}

.footer-container{
    display: flex;
    
    justify-content: center;
    max-width: 414px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
}

.footer-logo img{
    width: 50px;
}

.footer-logo{
    margin: 0 auto;
}

.footer-other{
    padding-left: 30px;
}
.footer-other p{
    font-size: 12px;
    padding-bottom: 10px;
}

.footer-other a{
    text-decoration: none;
    color: white;
    font-size: 20px; 
}

.footer-item{
    padding-right: 120px;
    display: none;
}

.footer-copyright{
    font-size: 12px;
    text-align: center;
    border-top: 1px solid white;
    padding-top: 10px;
}
}